test file for nlp packages that predict race to see acuuracy,the following are the packages using 

1. ethnicolr
The model uses US census data, the Florida voting registration data, and the Wikipedia data collected by Skiena and colleagues, to predict race and ethnicity based on first and last name or just the last name. 
The model provides 06 functions. 

Source: https://ethnicolr.readthedocs.io/ethnicolr.html#install  

2. rethnicity
The model is a Bidirectional Long Short-Term Memory (Bi-LSTM), a recurrent neural network architecture commonly used for natural language processing, was chosen as the model for our study. The Florida Voter Registration was used as the training and testing data. 

Source: https://cran.r-project.org/web/packages/rethnicity/rethnicity.pdf 

3. raceBERT 
a transformer-based model for predict- ing race and ethnicity from character sequences in names, and an accom- panying python package. Using a transformer-based model trained on a U.S. Florida voter registration dataset1, the model predicts the likelihood of a name belonging to 5 U.S. census race categories (White, Black, His- panic, Asian & Pacific Islander, American Indian & Alaskan Native). 

Sources: https://arxiv.org/pdf/2112.03807.pdf 
https://pypi.org/project/racebert/  
https://huggingface.co/pparasurama/raceBERT 

The Prediction Process: 

owner ----> nlp ----> W: 70% NW: 30%    
geoid:059.... ----> W: 80% NW: 20%
            .
            .
            .
            .
geoid:059.... ----> W: 60% NW: 40%
            and use
        min & max scale? 
          ex.  
            1 -----> 40

In [5]:
import pandas as pd


#data fram we will use to test the nlp models
mergent_true_df = pd.read_csv('../data/mergent_intellect_executives/sample.csv.xz')
mergent_true_df

#data frame with just the first and the last names
namesdf = pd.DataFrame(mergent_true_df, columns=['lastname', 'firstname'])
namesdf

            lastname firstname
0             Maigue   Richard
1              Fatah     Ifrah
2          Abu-hamda      Eyad
3            Degraft         J
4       Padwo-audick      Dara
...              ...       ...
1062  Sharifzadeh Na      Lily
1063              Na      Lily
1064             Kim    Ronnie
1065         Shihadh     Naser
1066           Lyall    Tricia

[1067 rows x 2 columns]

Ethnicolor:

In [6]:
import ethnicolr
from ethnicolr import census_ln, pred_census_ln

f = 'firstname'
l = 'lastname'

fname = pd.DataFrame(mergent_true_df, columns=[f])
lname = pd.DataFrame(mergent_true_df, columns=[l])

#censu_ln w/first
census_ln(fname, f, 2010)
#produces a sig. amount of null values
#does not predict the race automatically


#censu_ln w/last
#output is mostly null

    firstname pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0     Richard    70.35    23.46    0.9    0.57      1.97        2.75
1       Ifrah    87.31     4.48    (S)       0       (S)        4.48
2        Eyad      NaN      NaN    NaN     NaN       NaN         NaN
3           J      NaN      NaN    NaN     NaN       NaN         NaN
4        Dara    41.34     6.89   41.7     (S)       (S)        5.65
..        ...      ...      ...    ...     ...       ...         ...
610     Terri    74.53    18.01    (S)     (S)      3.73         (S)
611      Lily    56.92    22.19   8.62       0      2.87         9.4
612    Ronnie    71.75    13.45   2.69     (S)       (S)        9.87
613     Naser    81.76     1.92   8.28       0      3.45         4.6
614    Tricia      NaN      NaN    NaN     NaN       NaN         NaN

[615 rows x 7 columns]

In [9]:
#pred_census_ln w lastnames
ldf = pred_census_ln(lname, l, 2010)
#actually predicts race in an output
#first names work too but the output is diff and produces smaller row number (predictions)

           lastname       api     black  hispanic     white   race
0            Maigue  0.024608  0.125805  0.041267  0.808320  white
1             Fatah  0.186252  0.329301  0.077460  0.406987  white
2         Abu-Hamda  0.834071  0.003604  0.004044  0.158281    api
3           Degraft  0.003943  0.018520  0.027489  0.950047  white
4      Padwo-Audick  0.007617  0.027304  0.026128  0.938950  white
..              ...       ...       ...       ...       ...    ...
912        Moreland  0.002145  0.101038  0.028627  0.868189  white
913  Sharifzadeh Na  0.366665  0.043451  0.012322  0.577562  white
914              Na  0.323868  0.022660  0.037510  0.615962  white
915         Shihadh  0.885730  0.047059  0.001922  0.065290    api
916           Lyall  0.007086  0.134766  0.027863  0.830285  white

[917 rows x 6 columns]

In [10]:
#pred_census_ln w firstnames
fdf = pred_census_ln(fname, f, 2010)
#see..wheras this model outputs only 615 predictions

    firstname       api     black  hispanic     white      race
0     Richard  0.005425  0.222751  0.026621  0.745203     white
1       Ifrah  0.030944  0.553831  0.034017  0.381209     black
2        Eyad  0.025880  0.022798  0.021818  0.929505     white
3           J  0.461375  0.068442  0.085889  0.384294       api
4        Dara  0.457795  0.064153  0.121122  0.356931       api
..        ...       ...       ...       ...       ...       ...
610     Terri  0.005211  0.016933  0.119547  0.858308     white
611      Lily  0.005142  0.066140  0.029792  0.898927     white
612    Ronnie  0.007947  0.163154  0.030461  0.798438     white
613     Naser  0.008601  0.035153  0.027951  0.928295     white
614    Tricia  0.017301  0.003254  0.908098  0.071347  hispanic

[615 rows x 6 columns]

In [ ]:

#using the pred_census_ln(lname, l, 2010) data frame w/ prediction, i am transforming the data into something useful for the proj. 
transdf = pd.DataFrame(ldf, columns=['lastname', 'white'])
notw = list(1-transdf['white'])
transdf['not_white'] = notw
transdf['race']=ldf['race']

rce = (list(transdf['race']))
for r in rce: 
  if r != 'white':
    transdf['race'] = 1
  else:
    transdf['race'] = 0

transdf
#the 1's are going to be brought to the top of the data frame
#I added a prop not_white column and made it so that the race column used boolean values:
#1 if minority 
#0 if white

Next